{% extends "migrator/base.html" %}

{% block title %}Interface d'Administration{% endblock %}

{% block bodyId %}Summary{% endblock %}

{% block content %}
<div class="container">
    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}
    <h1>Affichage Emails Local IMAP</h1>
        <p>{{ message }}</p>
        <p>{{ sujet }}</p>
        <p>{{ de }}</p>
</div>
{% endblock %}