<!DOCTYPE html>
<html>
    <head lang="fr">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        {% load static %}
        <link rel="icon" href="{% static 'migrator/img/favicon.ico' %}">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'migrator/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'migrator/signin.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{% static 'migrator/js/html5shiv.min.js' %}"></script>
          <script src="{% static 'migrator/js/respond.min.js' %}"></script>
        <![endif]-->
        {% load i18n %}
        <title>Migrator - {% block title %}Bienvenue{% endblock %}</title>
    </head>
    <body id="{% block bodyId %}genericPage{% endblock %}">
        <header>
            {% block headerContent %}{% endblock %}
        </header>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{%static 'migrator/js/ie10-viewport-bug-workaround.js' %}"></script>
    </body>
</html>